# Description

The goal of this code is to test my intuition on how to filter, arrange, and merge data.

In [6]:
# importing thee necessary libraries
import numpy as np
import scipy
import pandas as pd
import requests, zipfile, io
import urllib

## Download and Load the World Development Indicators data set

I will be working with the World Development Indicators data set. <br/> 
I will download this data set from the world bank databank.<br/>
Hence, my very first step will be to download the data to my computer

In [7]:
#note this took several minutes. I think it depends on the speed of the internet connection
r = requests.get('http://databank.worldbank.org/data/download/WDI_csv.zip')
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall()

# let us free the variales we used above
del z
del r

The above code downloaded a zip archive to my working folder, which by default was the the location of this notebook in my computer. <br/>
Secondly, and since the document downloaded is a zip archive, it extracts the documents from the archive. <br/> 
The contents include multiple .csv files, however i will be working only with the document 'WDIData.csv'. <br/>

In the cell below, we make use of Pandas to open the file "WDIData.csv" and save it to a variable called 'wdi'.<br/>

In [8]:
wdi = pd.read_csv("WDIData.csv", encoding="ISO-8859-1")

## Download and Load the Penn World Table V9.0

I will additionally be using data from the pwt v9.0 tables. <br/>

In [9]:
# downloading dataset using the library urllib
urllib.request.urlretrieve("https://www.rug.nl/ggdc/docs/pwt90.xlsx", "pwt90.xlsx")

('pwt90.xlsx', <http.client.HTTPMessage at 0x11ccc9dd8>)

In [10]:
# opening and reading the filee 'pwt90.xlsx'
#using the read_excel pandas method for reading excel files
pwt = pd.read_excel("pwt90.xlsx", sheet_name="Data")

## Data Wrangling

Now that i have loaded my data into variable 'wdi', i am ready to start playing with it. <br/>
I will Start by printing all column values in the cell bellow.

In [11]:
print(wdi.columns)

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', 'Unnamed: 62'],
      dtype='object')

Next, i will list the values in the column 'Country Name'.<br/>
I got a list with repeated values, i will be deleting all duplicates to ease my analysis. <br/>

In [12]:
wdi['Country Name']
wdi.drop_duplicates(['Country Name'])

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Arab World,ARB,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1600,Caribbean small states,CSS,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3200,Central Europe and the Baltics,CEB,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4800,Early-demographic dividend,EAR,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6400,East Asia & Pacific,EAS,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8000,East Asia & Pacific (excluding high income),EAP,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9600,East Asia & Pacific (IDA & IBRD countries),TEA,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11200,Euro area,EMU,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12800,Europe & Central Asia,ECS,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14400,Europe & Central Asia (excluding high income),ECA,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16000,Europe & Central Asia (IDA & IBRD countries),TEC,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17600,European Union,EUU,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19200,Fragile and conflict affected situations,FCS,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20800,Heavily indebted poor countries (HIPC),HPC,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22400,High income,HIC,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24000,IBRD only,IBD,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25600,IDA & IBRD total,IBT,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27200,IDA blend,IDB,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28800,IDA only,IDX,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30400,IDA total,IDA,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32000,Late-demographic dividend,LTE,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33600,Latin America & Caribbean,LCN,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35200,Latin America & Caribbean (excluding high income),LAC,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36800,Latin America & the Caribbean (IDA & IBRD coun...,TLA,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38400,Least developed countries: UN classification,LDC,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40000,Low & middle income,LMY,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41600,Low income,LIC,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43200,Lower middle income,LMC,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44800,Middle East & North Africa,MEA,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46400,Middle East & North Africa (excluding high inc...,MNA,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374400,Sweden,SWE,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
376000,Switzerland,CHE,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
377600,Syrian Arab Republic,SYR,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
379200,Tajikistan,TJK,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
380800,Tanzania,TZA,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382400,Thailand,THA,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
384000,Timor-Leste,TLS,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
385600,Togo,TGO,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
387200,Tonga,TON,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
388800,Trinidad and Tobago,TTO,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
390400,Tunisia,TUN,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
392000,Turkey,TUR,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
393600,Turkmenistan,TKM,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
395200,Turks and Caicos Islands,TCA,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
396800,Tuvalu,TUV,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
398400,Uganda,UGA,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
400000,Ukraine,UKR,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
401600,United Arab Emirates,ARE,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
403200,United Kingdom,GBR,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
404800,United States,USA,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
406400,Uruguay,URY,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
408000,Uzbekistan,UZB,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
409600,Vanuatu,VUT,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
411200,"Venezuela, RB",VEN,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
412800,Vietnam,VNM,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
414400,Virgin Islands (U.S.),VIR,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
416000,West Bank and Gaza,PSE,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
417600,"Yemen, Rep.",YEM,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
419200,Zambia,ZMB,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
420800,Zimbabwe,ZWE,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

I noticed that while the bottom rows represent Countries, the top rows represent aggregates of countries (e.g., world regions). <br/> However i am only interested in working with country-level data, and as such i need to filter out all unecessary rows.

In [13]:
cnames = wdi['Country Name']
cnames = cnames.drop_duplicates()

In [14]:
cnames[0:51]

0                                               Arab World
1600                                Caribbean small states
3200                        Central Europe and the Baltics
4800                            Early-demographic dividend
6400                                   East Asia & Pacific
8000           East Asia & Pacific (excluding high income)
9600            East Asia & Pacific (IDA & IBRD countries)
11200                                            Euro area
12800                                Europe & Central Asia
14400        Europe & Central Asia (excluding high income)
16000         Europe & Central Asia (IDA & IBRD countries)
17600                                       European Union
19200             Fragile and conflict affected situations
20800               Heavily indebted poor countries (HIPC)
22400                                          High income
24000                                            IBRD only
25600                                     IDA & IBRD total
27200                                            IDA blend
28800                                             IDA only
30400                                            IDA total
32000                            Late-demographic dividend
33600                            Latin America & Caribbean
35200    Latin America & Caribbean (excluding high income)
36800    Latin America & the Caribbean (IDA & IBRD coun...
38400         Least developed countries: UN classification
40000                                  Low & middle income
41600                                           Low income
43200                                  Lower middle income
44800                           Middle East & North Africa
46400    Middle East & North Africa (excluding high inc...
48000    Middle East & North Africa (IDA & IBRD countries)
49600                                        Middle income
51200                                        North America
52800                                       Not classified
54400                                         OECD members
56000                                   Other small states
57600                          Pacific island small states
59200                            Post-demographic dividend
60800                             Pre-demographic dividend
62400                                         Small states
64000                                           South Asia
65600                              South Asia (IDA & IBRD)
67200                                   Sub-Saharan Africa
68800           Sub-Saharan Africa (excluding high income)
70400            Sub-Saharan Africa (IDA & IBRD countries)
72000                                  Upper middle income
73600                                                World
75200                                          Afghanistan
76800                                              Albania
78400                                              Algeria
80000                                       American Samoa
Name: Country Name, dtype: object

I verified that the first 48 values in cnames 'Country Name' do not correspond to countries, but aggregates.<br/>
In the next cell, i will filter out, from 'wdi', rows in which 'Country Name' represents an aggregate of countries.<br/>

In [15]:
wdi = wdi.loc[~wdi['Country Name'].isin(cnames[0:47])]

In [16]:
# resetting thee indexes of wdi, performing this operation in places
wdi.reset_index(inplace = True)

In [17]:
wdi

,index,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,75200,Afghanistan,AFG,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,75201,Afghanistan,AFG,"2005 PPP conversion factor, private consumptio...",PA.NUS.PRVT.PP.05,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,75202,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,...,1.884000e+01,2.068000e+01,2.233000e+01,2.408000e+01,2.617000e+01,2.799000e+01,3.010000e+01,3.244000e+01,NaN,NaN
3,75203,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,...,4.485489e+01,4.270000e+01,4.322202e+01,6.910000e+01,6.725955e+01,8.950000e+01,7.150000e+01,8.413714e+01,NaN,NaN
4,75204,Afghanistan,AFG,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,...,3.184516e+01,3.240000e+01,3.338011e+01,6.380000e+01,5.842367e+01,8.780000e+01,6.420000e+01,7.896107e+01,NaN,NaN
5,75205,Afghanistan,AFG,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,...,8.535451e+01,8.280000e+01,8.656778e+01,9.500000e+01,9.257729e+01,9.870000e+01,9.250000e+01,9.803841e+01,NaN,NaN
6,75206,Afghanistan,AFG,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.005013e+00,NaN,NaN,9.961000e+00,NaN,NaN,1.489331e+01,NaN
7,75207,Afghanistan,AFG,Account ownership at a financial institution o...,FX.OWN.TOTL.FE.ZS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.616230e+00,NaN,NaN,3.812426e+00,NaN,NaN,7.160685e+00,NaN
8,75208,Afghanistan,AFG,Account ownership at a financial institution o...,FX.OWN.TOTL.MA.ZS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.541546e+01,NaN,NaN,1.578467e+01,NaN,NaN,2.253650e+01,NaN
9,75209,Afghanistan,AFG,Account ownership at a financial institution o...,FX.OWN.TOTL.OL.ZS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.053888e+01,NaN,NaN,1.150844e+01,NaN,NaN,1.801650e+01,NaN
10,75210,Afghanistan,AFG,Account ownership at a financial institution o...,FX.OWN.TOTL.40.ZS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.125380e+00,NaN,NaN,6.070460e+00,NaN,NaN,1.380250e+01,NaN
11,75211,Afghanistan,AFG,Account ownership at a financial institution o...,FX.OWN.TOTL.PL.ZS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.317275e+00,NaN,NaN,4.828490e+00,NaN,NaN,8.887749e+00,NaN
12,75212,Afghanistan,AFG,Account ownership at a financial institution o...,FX.OWN.TOTL.60.ZS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.424065e+01,NaN,NaN,1.255290e+01,NaN,NaN,1.561930e+01,NaN
13,75213,Afghanistan,AFG,Account ownership at a financial institution o...,FX.OWN.TOTL.SO.ZS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.997042e+01,NaN,NaN,2.260093e+01,NaN,NaN,3.055885e+01,NaN
14,75214,Afghanistan,AFG,Account ownership at a financial institution o...,FX.OWN.TOTL.YG.ZS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,6.303489e+00,NaN,NaN,7.449459e+00,NaN,NaN,9.752586e+00,NaN
15,75215,Afghanistan,AFG,Adequacy of social insurance programs (% of to...,per_si_allsi.adq_pop_tot,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,75216,Afghanistan,AFG,Adequacy of social protection and labor progra...,per_allsp.adq_pop_tot,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,75217,Afghanistan,AFG,Adequacy of social safety net programs (% of t...,per_sa_allsa.adq_pop_tot,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,75218,Afghanistan,AFG,Adequacy of unemployment benefits and ALMP (% ...,per_lm_alllm.adq_pop_tot,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,75219,Afghanistan,AFG,"Adjusted net enrollment rate, primary (% of pr...",SE.PRM.TENR,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,75220,Afghanistan,AFG,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,75221,Afghanistan,AFG,"Adjusted net enrollment rate, primary, male (%...",SE.PRM.TENR.MA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,75222,Afghanistan,AFG,Adjusted net national income (annual % growth),NY.ADJ.NNTY.KD.ZG,NaN,NaN,NaN,NaN,NaN,...,1.818068e+01,8.208153e+00,1.063004e+01,1.584328e+01,2.145085e+00,-2.293828e+00,2.123815e+00,5.871293e-01,NaN,NaN
23,75223,Afghanistan,AFG,Adjusted net national income (constant 2010 US$),NY.ADJ.NNTY.KD,NaN,NaN,NaN,NaN,NaN,...,1.296279e+10,1.402680e+10,1.551785e+10,1.797639e+10,1.836200e+10,1.794081e+10,1.832184e+10,1.842941e+10,NaN,NaN
24,75224,Afghanistan,AFG,Adjusted net national income (current US$),NY.ADJ.NNTY.CD,NaN,NaN,NaN,NaN,NaN,...,1.107780e+10,1.402680e+10,1.590421e+10,1.812556e+10,1.774544e+10,1.796899e+10,1.667600e+10,1.697400e+10,NaN,NaN
25,75225,Afghanistan,AFG,Adjusted net national income per capita (annua...,NY.ADJ.NNTY.PC.KD.ZG,NaN,NaN,NaN,NaN,NaN,...,1.518315e+01,5.207075e+00,7.258361e+00,1.211344e+01,-1.185736e+00,-5.355032e+00,-8.381258e-01,-2.081777e+00,NaN,NaN
26,75226,Afghanistan,AFG,Adjusted net national income per capita (const...,NY.ADJ.NNTY.PC.KD,NaN,NaN,NaN,NaN,NaN,...,4.628853e+02,4.869881e+02,5.223355e+02,5.856083e+02,5.786645e+02,5.476768e+02,5.430866e+02,5.317808e+02,NaN,NaN
27,75227,Afghanistan,AFG,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,...,3.955745e+02,4.869881e+02,5.353403e+02,5.904675e+02,5.592339e+02,5.485371e+02,4.943016e+02,4.897847e+02,NaN,NaN
28,75228,Afghanistan,AFG,"Adjusted net savings, excluding particulate em...",NY.ADJ.SVNX.GN.ZS,NaN,NaN,NaN,NaN,NaN,...,-8.733988e+00,-1.565016e+01,-2.143929e+01,-1.553790e+01,-2.278538e+01,-1.888896e+01,-2.346395e+01,-2.429179e+01,NaN,NaN
29,75229,Afghanistan,AFG,"Adjusted net savings, excluding particulate em...",NY.ADJ.SVNX.CD,NaN,NaN,NaN,NaN,NaN,...,-1.095317e+09,-2.503837e+09,-3.887012e+09,-3.239446e+09,-4.683571e+09,-3.928189e+09,-4.549325e+09,-4.783059e+09,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347170,422370,Zimbabwe,ZWE,Urban population,SP.URB.TOTL,472468.000000,496270.000000,523204.000000,561146.000000,601709.000000,...,4.609702e+06,4.676094e+06,4.749752e+06,4.830153e+06,4.915898e+06,5.009411e+06,5.109528e+06,5.215921e+06,5.328745e+06,NaN
347171,422371,Zimbabwe,ZWE,Urban population (% of total),SP.URB.TOTL.IN.ZS,12.608000,12.821000,13.082000,13.578000,14.092000,...,3.337800e+01,3.319600e+01,3.301500e+01,3.283400e+01,3.265400e+01,3.250400e+01,3.238500e+01,3.229600e+01,3.223700e+01,NaN
347172,422372,Zimbabwe,ZWE,Urban population growth (annual %),SP.URB.GROW,4.879355,4.915011,5.285131,7.000968,6.979282,...,1.298719e+00,1.429993e+00,1.562926e+00,1.678574e+00,1.759630e+00,1.884390e+00,1.978869e+00,2.060865e+00,2.140007e+00,NaN
347173,422373,Zimbabwe,ZWE,Urban population living in areas where elevati...,EN.POP.EL5M.UR.ZS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
347174,422374,Zimbabwe,ZWE,Urban poverty gap at national poverty lines (%),SI.POV.URGP,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
347175,422375,Zimbabwe,ZWE,Urban poverty headcount ratio at national pove...,SI.POV.URHC,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
347176,422376,Zimbabwe,ZWE,"Use of IMF credit (DOD, current US$)",DT.DOD.DIMF.CD,NaN,NaN,NaN,NaN,NaN,...,5.423170e+08,5.287290e+08,5.270950e+08,5.201240e+08,5.193420e+08,4.867300e+08,4.637530e+08,4.551650e+08,NaN,NaN
347177,422377,Zimbabwe,ZWE,Use of insecticide-treated bed nets (% of unde...,SH.MLR.NETS.ZS,NaN,NaN,NaN,NaN,NaN,...,1.730000e+01,NaN,9.700000e+00,NaN,NaN,2.680000e+01,9.000000e+00,NaN,NaN,NaN
347178,422378,Zimbabwe,ZWE,Value lost due to electrical outages (% of sal...,IC.FRM.OUTG.ZS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.800000e+00,NaN,NaN,NaN,NaN,6.100000e+00,NaN,NaN
347179,422379,Zimbabwe,ZWE,Vitamin A supplementation coverage rate (% of ...,SN.ITK.VITA.ZS,NaN,NaN,NaN,NaN,NaN,...,7.700000e+01,4.900000e+01,4.700000e+01,6.100000e+01,3.400000e+01,3.200000e+01,4.500000e+01,NaN,NaN,NaN
347180,422380,Zimbabwe,ZWE,"Vulnerable employment, female (% of female emp...",SL.EMP.VULN.FE.ZS,NaN,NaN,NaN,NaN,NaN,...,7.932700e+01,7.759200e+01,7.615600e+01,7.554900e+01,7.554000e+01,7.667300e+01,7.638200e+01,7.619400e+01,7.578600e+01,NaN
347181,422381,Zimbabwe,ZWE,"Vulnerable employment, male (% of male employm...",SL.EMP.VULN.MA.ZS,NaN,NaN,NaN,NaN,NaN,...,5.990400e+01,5.925700e+01,5.792800e+01,5.664000e+01,5.543400e+01,5.536100e+01,5.499400e+01,5.476700e+01,5.483200e+01,NaN
347182,422382,Zimbabwe,ZWE,"Vulnerable employment, total (% of total emplo...",SL.EMP.VULN.ZS,NaN,NaN,NaN,NaN,NaN,...,6.936900e+01,6.819200e+01,6.680900e+01,6.586500e+01,6.524500e+01,6.576600e+01,6.543700e+01,6.522500e+01,6.505900e+01,NaN
347183,422383,Zimbabwe,ZWE,"Wage and salaried workers, female (% of female...",SL.EMP.WORK.FE.ZS,NaN,NaN,NaN,NaN,NaN,...,2.027800e+01,2.211100e+01,2.354600e+01,2.413500e+01,2.402700e+01,2.287500e+01,2.315100e+01,2.332300e+01,2.376600e+01,NaN
347184,422384,Zimbabwe,ZWE,"Wage and salaried workers, male (% of male emp...",SL.EMP.WORK.MA.ZS,NaN,NaN,NaN,NaN,NaN,...,3.934200e+01,4.010600e+01,4.142800e+01,4.270200e+01,4.377400e+01,4.383200e+01,4.419200e+01,4.440000e+01,4.437100e+01,NaN
347185,422385,Zimbabwe,ZWE,"Wage and salaried workers, total (% of total e...",SL.EMP.WORK.ZS,NaN,NaN,NaN,NaN,NaN,...,3.005200e+01,3.133600e+01,3.271600e+01,3.364500e+01,3.413700e+01,3.360100e+01,3.391900e+01,3.411300e+01,3.431500e+01,NaN
347186,422386,Zimbabwe,ZWE,Wanted fertility rate (births per woman),SP.DYN.WFRT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.500000e+00,NaN,NaN,NaN,3.600000e+00,NaN,NaN,NaN
347187,422387,Zimbabwe,ZWE,"Water productivity, total (constant 2010 US$ G...",ER.GDP.FWTL.M3.KD,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
347188,422388,Zimbabwe,ZWE,Wholesale price index (2010 = 100),FP.WPI.TOTL,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
347189,422389,Zimbabwe,ZWE,Women making their own informed decisions rega...,SG.DMK.SRCR.FN.ZS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.990000e+01,NaN,NaN,NaN
347190,422390,Zimbabwe,ZWE,Women participating in the three decisions (ow...,SG.DMK.ALLD.FN.ZS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,7.450000e+01,NaN,NaN,NaN,7.210000e+01,NaN,NaN,NaN
347191,422391,Zimbabwe,ZWE,Women who believe a husband is justified in be...,SG.VAW.REAS.ZS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.960000e+01,NaN,NaN,3.740000e+01,3.870000e+01,NaN,NaN,NaN
347192,422392,Zimbabwe,ZWE,Women who believe a husband is justified in be...,SG.VAW.ARGU.ZS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.560000e+01,NaN,NaN,NaN,1.670000e+01,NaN,NaN,NaN
347193,422393,Zimbabwe,ZWE,Women who believe a husband is justified in be...,SG.VAW.BURN.ZS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,7.500000e+00,NaN,NaN,NaN,8.100000e+00,NaN,NaN,NaN
347194,422394,Zimbabwe,ZWE,Women who believe a husband is justified in be...,SG.VAW.GOES.ZS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.230000e+01,NaN,NaN,NaN,2.280000e+01,NaN,NaN,NaN
347195,422395,Zimbabwe,ZWE,Women who believe a husband is justified in be...,SG.VAW.NEGL.ZS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.140000e+01,NaN,NaN,NaN,2.140000e+01,NaN,NaN,NaN
347196,422396,Zimbabwe,ZWE,Women who believe a husband is justified in be...,SG.VAW.REFU.ZS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.690000e+01,NaN,NaN,NaN,1.450000e+01,NaN,NaN,NaN
347197,422397,Zimbabwe,ZWE,Women who were first married by age 15 (% of w...,SP.M15.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.700000e+00,NaN,NaN,NaN
347198,422398,Zimbabwe,ZWE,Women who were first married by age 18 (% of w...,SP.M18.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,...,3.010000e+01,NaN,3.050000e+01,NaN,NaN,3.350000e+01,3.240000e+01,NaN,NaN,NaN
347199,422399,Zimbabwe,ZWE,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,NaN,NaN,NaN,NaN,NaN,...,5.740000e+01,5.820000e+01,5.840000e+01,5.860000e+01,5.880000e+01,5.890000e+01,5.890000e+01,5.900000e+01,5.910000e+01,NaN

## Indicator Codes and Indicator Name

I selected the columns 'Indicator Name' and 'Indicator Code'.<br/> 
I deleted all duplicates, and then printed the top 5 and bottom 5 values. <br/>

In [18]:
wdi[['Indicator Name','Indicator Code']].drop_duplicates().head()

                                      Indicator Name     Indicator Code
0  2005 PPP conversion factor, GDP (LCU per inter...      PA.NUS.PPP.05
1  2005 PPP conversion factor, private consumptio...  PA.NUS.PRVT.PP.05
2  Access to clean fuels and technologies for coo...     EG.CFT.ACCS.ZS
3            Access to electricity (% of population)     EG.ELC.ACCS.ZS
4  Access to electricity, rural (% of rural popul...  EG.ELC.ACCS.RU.ZS

In [19]:
wdi[['Indicator Name','Indicator Code']].drop_duplicates().tail()

                                         Indicator Name     Indicator Code
1595  Women who believe a husband is justified in be...     SG.VAW.NEGL.ZS
1596  Women who believe a husband is justified in be...     SG.VAW.REFU.ZS
1597  Women who were first married by age 15 (% of w...  SP.M15.2024.FE.ZS
1598  Women who were first married by age 18 (% of w...  SP.M18.2024.FE.ZS
1599  Women's share of population ages 15+ living wi...  SH.DYN.AIDS.FE.ZS

In [20]:
# created a new dataframe made up of columns "Indicator name and indicator code"
# deleted duplicates
# set the column 'Indicator Code' as the index of indicators
indicators = ((wdi[['Indicator Name','Indicator Code']]).drop_duplicates()).set_index(['Indicator Code'])

Using 'indicators' DataFrame, i will be finding the 'Indicator Code' associated with the following observables:
1. 'Population',
2. 'GDP', 
3. 'GINI index'

In [21]:
indicators[indicators['Indicator Name'].str.contains('Population, total')]

                   Indicator Name
Indicator Code
SP.POP.TOTL     Population, total

In [ ]:
pd.set_option('display.max_rows', 500)
indicators[indicators['Indicator Name'].str.contains("GDP")]

In [22]:
indicators[indicators['Indicator Name'].str.contains('GINI index')]

                                  Indicator Name
Indicator Code
SI.POV.GINI     GINI index (World Bank estimate)

## Extracting and Cleaning data from WDI and PWT

From 'wdi' extract the columns 'Indicator Code', 'Country Code', and '2002'.
Save the output in variable 'wdi_sample'

In [23]:
wdi_sample = wdi[['Indicator Code', 'Country Code', '2002']]

In [24]:
# selecting the lines associated with the indicator codes from wdi_sample
print(wdi_sample.loc[wdi_sample['Indicator Code'].isin(['SI.POV.GINI','SP.POP.TOTL','NY.GDP.MKTP.CD'])])

        Indicator Code Country Code          2002
525     NY.GDP.MKTP.CD          AFG  4.128821e+09
549        SI.POV.GINI          AFG           NaN
1147       SP.POP.TOTL          AFG  2.197992e+07
2125    NY.GDP.MKTP.CD          ALB  4.435079e+09
2149       SI.POV.GINI          ALB  3.170000e+01
2747       SP.POP.TOTL          ALB  3.051010e+06
3725    NY.GDP.MKTP.CD          DZA  5.676029e+10
3749       SI.POV.GINI          DZA           NaN
4347       SP.POP.TOTL          DZA  3.199505e+07
5325    NY.GDP.MKTP.CD          ASM  5.140000e+08
5349       SI.POV.GINI          ASM           NaN
5947       SP.POP.TOTL          ASM  5.873100e+04
6925    NY.GDP.MKTP.CD          AND  1.733117e+09
6949       SI.POV.GINI          AND           NaN
7547       SP.POP.TOTL          AND  7.004900e+04
8525    NY.GDP.MKTP.CD          AGO  1.249735e+10
8549       SI.POV.GINI          AGO           NaN
9147       SP.POP.TOTL          AGO  1.757265e+07
10125   NY.GDP.MKTP.CD          ATG  8.146153e+08
10149      SI.POV.GINI          ATG           NaN
10747      SP.POP.TOTL          ATG  8.626600e+04
11725   NY.GDP.MKTP.CD          ARG  9.772400e+10
11749      SI.POV.GINI          ARG  5.380000e+01
12347      SP.POP.TOTL          ARG  3.788937e+07
13325   NY.GDP.MKTP.CD          ARM  2.376335e+09
13349      SI.POV.GINI          ARM  3.480000e+01
13947      SP.POP.TOTL          ARM  3.033897e+06
14925   NY.GDP.MKTP.CD          ABW  1.941095e+09
14949      SI.POV.GINI          ABW           NaN
15547      SP.POP.TOTL          ABW  9.499200e+04
...                ...          ...           ...
331725  NY.GDP.MKTP.CD          URY  1.360649e+10
331749     SI.POV.GINI          URY           NaN
332347     SP.POP.TOTL          URY  3.327773e+06
333325  NY.GDP.MKTP.CD          UZB  9.687951e+09
333349     SI.POV.GINI          UZB  3.300000e+01
333947     SP.POP.TOTL          UZB  2.527185e+07
334925  NY.GDP.MKTP.CD          VUT  2.626038e+08
334949     SI.POV.GINI          VUT           NaN
335547     SP.POP.TOTL          VUT  1.939560e+05
336525  NY.GDP.MKTP.CD          VEN  9.289359e+10
336549     SI.POV.GINI          VEN  5.060000e+01
337147     SP.POP.TOTL          VEN  2.540870e+07
338125  NY.GDP.MKTP.CD          VNM  3.506411e+10
338149     SI.POV.GINI          VNM  3.700000e+01
338747     SP.POP.TOTL          VNM  8.195650e+07
339725  NY.GDP.MKTP.CD          VIR  3.269000e+09
339749     SI.POV.GINI          VIR           NaN
340347     SP.POP.TOTL          VIR  1.085100e+05
341325  NY.GDP.MKTP.CD          PSE  3.555800e+09
341349     SI.POV.GINI          PSE           NaN
341947     SP.POP.TOTL          PSE  3.075373e+06
342925  NY.GDP.MKTP.CD          YEM  1.069328e+10
342949     SI.POV.GINI          YEM           NaN
343547     SP.POP.TOTL          YEM  1.891918e+07
344525  NY.GDP.MKTP.CD          ZMB  4.193846e+09
344549     SI.POV.GINI          ZMB  4.210000e+01
345147     SP.POP.TOTL          ZMB  1.112041e+07
346125  NY.GDP.MKTP.CD          ZWE  6.342116e+09
346149     SI.POV.GINI          ZWE           NaN
346747     SP.POP.TOTL          ZWE  1.250052e+07

[651 rows x 3 columns]

In [25]:
wdi_sample = wdi_sample.loc[wdi_sample['Indicator Code'].isin(['SI.POV.GINI','SP.POP.TOTL','NY.GDP.MKTP.CD'])]

In [26]:
# creating a pivot table in which values are the column '2002', the index is the 'Country Code', and the columns are the Indicator Codes.
wdi_sample = wdi_sample.pivot_table(values='2002',index='Country Code', columns='Indicator Code')

In [27]:
# renaming the column names of wdi_sample to 'Population', 'GDP', and 'GINI'
wdi_sample.columns = ['GDP', 'GINI', 'Population']

In [28]:
# selecting from "pwt" only values of the yaer 2002
# extracting "countrycode" and "hc"
# renaming 'countrycode' to 'Country Code'
pwt_sample =  pwt.loc[pwt['year'] == 2002][['countrycode','hc']].rename(columns={'countrycode': 'Country Code'})

In [34]:
# creating a new dataframe that contains the columns from wdi_sample and pwt_sample, matched by 'Country Code'
data = pd.concat([pwt_sample.set_index('Country Code'), wdi_sample], axis = 1)

/Users/adeoluwaakande/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

Considering the data for the year 2002 that i have prepared above, i will
 be performing the necessary data manipulations to answer the following questions:

1. Which countries have a population size of 10 million habitations +/- 1 million?
2. What is the average and the standard deviation in GDP of countries listed in 1?
3. What is the average and the standard deviation in the GDP of countries NOT listed in 1?
4. Repeat point 2 and 3 but for the GDP per capita.
5. What is the Country with the highest Human Capital (hc in the PWT tables)?
6. What is the Country with the Lowest Human Capital (hc in the PWT tables)?

In [35]:
data = data.reset_index()
data.rename(columns={'index':'Country'}, inplace=True)
Q1 = data.loc[(data['Population'] >= 9000000) & (data['Population'] <= 11000000), 'Country']
print(Q1)

15     BEL
23     BLR
50     CZE
73     GIN
77     GRC
87     HUN
161    PRT
171    SEN
177    SOM
190    TCD
198    TUN
Name: Country, dtype: object

In [36]:
mean_Q1 = (data.loc[data['Country'].isin(Q1)])["GDP"].mean()
std_Q1 = (data.loc[data['Country'].isin(Q1)])["GDP"].std()
print("The average is ",mean_Q1, "and the standard deviation is ", std_Q1)

The average is  74455540556.17746 and the standard deviation is  85204567133.23154

In [37]:
mean_Q3 = (data.loc[~data['Country'].isin(Q1)])["GDP"].mean()
std_Q3 = (data.loc[~data['Country'].isin(Q1)])["GDP"].std()
print("The average is ",mean_Q3, "and the standard deviation is ", std_Q3)

The average is  173731828490.20428 and the standard deviation is  880372555108.6028

In [38]:
mean_Q4_in = ((data.loc[data['Country'].isin(Q1)])["GDP"] / (data.loc[data['Country'].isin(Q1)])["Population"]).mean()
std_Q4_in = ((data.loc[data['Country'].isin(Q1)])["GDP"] / (data.loc[data['Country'].isin(Q1)])["Population"]).std()
mean_Q4_out = ((data.loc[~data['Country'].isin(Q1)])["GDP"] / (data.loc[~data['Country'].isin(Q1)])["Population"]).mean()
std_Q4_out = ((data.loc[~data['Country'].isin(Q1)])["GDP"] / (data.loc[~data['Country'].isin(Q1)])["Population"]).std()
print(mean_Q4_in,std_Q4_in, mean_Q4_out, std_Q4_out)

7162.581644120961 8142.612572151089 8826.605448799437 14155.47950935825

In [39]:
print(data[['Country']][data.hc == data.hc.max()])

    Country
206     USA

In [40]:
print(data[['Country']][data.hc == data.hc.min()])

   Country
17     BFA